.image-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-container {
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  /* text-align: center; */
  position: relative;
}
.inner-image {
  border-radius: 50%;
  width: 80px;
  height: 74px;
  margin-left: 5px;
  margin-top: 8px;
  /* cursor: pointer; */
  position: absolute;
  z-index: 1;
}

.inner-inner-image {
  z-index: 2;
  position: absolute;
  margin-top: 13px;
  margin-left: 15px;
}
